workflows/tradingview-signal.json
{
  "name": "TradingView Signal to Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tradingview-signal",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "tradingview-signal"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"action\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-payload",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// TradingView 페이로드를 API 형식으로 변환\nconst input = $input.first().json;\n\n// TradingView 액션을 시그널로 변환\nlet signal = 'WAIT';\nif (input.action === 'buy' || input.action === 'long') {\n  signal = 'LONG';\n} else if (input.action === 'sell' || input.action === 'short') {\n  signal = 'SHORT';\n} else if (input.action === 'close' || input.action === 'exit') {\n  signal = 'CLOSE';\n}\n\nreturn {\n  bot_name: input.bot_name || null,\n  signal: signal,\n  source: 'tradingview',\n  confidence: input.confidence || 1.0,\n  metadata: {\n    strategy: input.strategy || 'unknown',\n    ticker: input.ticker,\n    timeframe: input.timeframe,\n    price: input.price\n  }\n};"
      },
      "id": "transform-payload",
      "name": "Transform Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [650, 250]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.TRADING_BOT_API_URL}}/api/n8n/signal",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {}
      },
      "id": "send-signal",
      "name": "Send Signal to Bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 250]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Signal forwarded to trading bot\"}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 250]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": false, \"error\": \"Invalid payload\"}"
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Transform Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Payload": {
      "main": [
        [
          {
            "node": "Send Signal to Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Signal to Bot": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "1"
}
